
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    background-color:aqua;
    color: red;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-family: Quicksand;
}

button {
    background-color:darkgreen;
    color:white;
    font-family: Quicksand;

}
